.editor {
  max-width: 700px;
  border: 1px solid #696;
  margin: 30px auto;
}

.editor-buttons {
  background-color: #696;
  padding: 5px;
  display: flex;
}

.editor-action {
  padding: 8px;
  cursor: pointer;
  border: 0;
  background-color: #696;
  outline: none;
  font-size: 16px;
  color: #eee;
  transition: 0.5s ease;
  display: flex;
  border-radius: 2px;
}

.editor-action.active {
  background-color: #090;
  transition: 0.2s ease;
}

.editor-action span {
  align-items: center;
}

.editor-action:hover {
  background-color: #080;
  color: #fff;
  transition: 0.3s ease;
}

.editor-action + .editor-action {
  margin-left: 5px;
}


