.App {
  text-align: center;
}

.links {
  text-align: left;
  height: 0px;
  position: relative;
  top: 1em;
}

.links a {
  color: #777;
}

.ircquote {
  font-family: Courier New, Courier, monospace;
  font-size: smaller;
  background-color: #eee;
  padding: 0.33em;
  margin-top: 1.5em;
  border-left: 1px solid #777;
}

.ircquote span.channel {
  color: #777;
  float: right;
  position: relative;
  top: -1.5em;
  height: 0;
}

.ircquote div.line {
}

.thought {
  background-color: #B8FFE7;
  padding: 0.5em;
  border-right: 1em solid #78C0A8;
  margin: 50px;
  padding-left: 15px;
}

.thought span {
  display: block;
  font-weight: bold;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  blockquote.style1 {
    font-style: italic;
    font-family: Open Sans;
    font-size: larger;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    text-align: left;
    border-left: 0px;
    border: 1px solid;
    color: #555555;
    background-color: #ededed;
    border-left: 8px solid #78c0a8;
    padding: 1em;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) {
  @import url(https://fonts.googleapis.com/css?family=Open + Sans:400italic);
  blockquote.style1 {
    font-size: 1.4em;
    margin: 50px;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78c0a8;
    line-height: 1.6;
    position: relative;
    background: #ededed;
  }

  blockquote.style1::before {
    font-family: Arial;
    content: "\201C";
    color: #78c0a8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote.style1::after {
    content: "";
  }

  blockquote.style1 span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }
}

blockquote.lyrics {
  font-style: italic;
  font-family: Optima;
  font-size: larger;
  line-height: 1.2;
  text-align: center;
  text-align: left;
  border-left: 0px;
  border: 1px solid;
  background-color: #FFFFF0;
  padding: 1em;
}

.link {
  margin: 1em 0;
}

.link a {
  font-size: larger;
}

.link:before {
  content: "\00BB";
  font-size: large;
  color: #777;
}

.flickr {
  text-align: center;
  background-color: #eee;
  padding: 0.5em;
  margin: 1em 2.5em;
}

.flickr img {
  border: 1px solid black;
}

#atom, #rss {
  border: 1px solid;
  border-color: #FC9 #630 #330 #F96;
  padding: 0px 3px;
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #FFF;
  background: #F60;
  text-decoration: none;
  margin: 5px 0px 0px 10px;
  float: right;
}

textarea {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  border: 0;
  padding: 15px;
  min-height: 200px;
  width: 100%;
  outline: none;
  resize: none;
}
